<h1>Books#index</h1>


<%= render 'layouts/error',book: @book %>
<div>
	<div class="container">
<%= render 'layouts/form', user: @user, book: @book %>

<h2>Books</h2>
		    <table class="table">
		        <tr>
			    	<th>image</th>
				    <th>Title</th>
				    <th>Opinion</th>
			    </tr>
			    <% @books.each do |f| %>
			     <tr>
			    	<td><%= link_to attachment_image_tag(f.user, :profile_image, :fiil,60,60, format: 'jpeg', fallback: "no_image.jpg"), user_path(f.user) %></td>
				    <td><%= link_to f.title, book_path(f) %></td>
				    <td><%= f.body %></td>
			    </tr>
			    <% end %>
			</table>
			
	    </div>
	</div>