<h1>Books#show</h1>
<div class="container">
	<div>
<%= render 'layouts/form', user: @user, book: @book %>
	   	</div>
<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr>
					<th scope="row">
						<td>
    				<%= link_to user_path(@user) do %>
    				<%= attachment_image_tag @user, :profile_image, :fill, 60, 60 ,format: 'jpeg', fallback: "no_image.jpg" %>
    				</br>
							<%= @user.name %>
							<% end %>
						</td>
						<% if @user == current_user %>
					    <td><%= @bookd.title %></td>
					    <td><%= @bookd.body %></td>
			    		<td>
				    		<td><%= link_to "Edit", edit_book_path(@bookd) %></td>
							<td><%= link_to "Destroy", book_path(@bookd), method: :delete,"data-confirm" =>"本当に削除しますか?" %></td>
			    		</td>
			    		<% end %>
					</th>
				</tr>
			</table>
		</div>
	</div>