<div class="col-xs-3">
	<div class="user-information">
		<h1>User info</h1>
		<%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
		<table class="table">
			<thead>
				<tr>
					<th colspan="2"></th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>name</td>
					<td><%= user.name %></td>
				</tr>
				<tr>
					<td>introduction</td>
					<td><%= user.introduction %></td>
				</tr>
			</tbody>
		</table>

		<% if user == current_user %>
			<%= link_to edit_user_path(user) do %>
				<button type="button" class="btn btn-default btn-block">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				</button>
			<% end %>
		<% else %>
			<%= link_to user_path(current_user) do %>
				<button type="button" class="btn btn-default btn-block">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				</button>
			<% end %>
		<% end %>
	</div>

	<div class="visible-xs-block text-left">
		<h1>New book</h1>
	</div>

	<%= form_for(book) do |f| %>
		<div class="block">
			<%= f.label :Title %>
		</div>
		<div class="block">
			<%= f.text_field :title %>
		</div>
		<div class="block">
			<%= f.label :Opinion %>
		</div>
		<div class="block">
			<%= f.text_area :body %>
		</div>
		<%= f.submit('Create Book', class: 'btn btn-primary btn-block') %>
	<% end %>
</div>